<!-- <p id="notice"><%= notice %></p>

<%= @player1_moves.inspect %>
<%= @player2_moves.inspect %>
----
<%= @game.moves.inspect %>
 -->

<h1>Current game</h1>

<div class="board">
  <div class="board_row">
    <div class="board_box"><%= x_or_o(:a1) %></div>
    <div class="board_box"><%= x_or_o(:a2) %></div>
    <div class="board_box"><%= x_or_o(:a3) %></div>
  </div>
  <div class="board_row">
    <div class="board_box"><%= x_or_o(:b1) %></div>
    <div class="board_box"><%= x_or_o(:b2) %></div>
    <div class="board_box"><%= x_or_o(:b3) %></div>
  </div>
  <div class="board_row">
    <div class="board_box"><%= x_or_o(:c1) %></div>
    <div class="board_box"><%= x_or_o(:c2) %></div>
    <div class="board_box"><%= x_or_o(:c3) %></div>
  </div>
</div>


