<p id="notice"><%= notice %></p>

<table style="border: 1px solid black;">
  <tr>
    <td><%= x_or_o(:a1) %></td>
    <td><%= x_or_o(:a2) %></td>
    <td><%= x_or_o(:a3) %></td>
  </tr>
  <tr>
    <td><%= x_or_o(:b1) %></td>
    <td><%= x_or_o(:b2) %></td>
    <td><%= x_or_o(:b3) %></td>
  </tr>
  <tr>
    <td><%= x_or_o(:c1) %></td>
    <td><%= x_or_o(:c2) %></td>
    <td><%= x_or_o(:c3) %></td>
  </tr>
</table>

<%= link_to 'Edit', edit_game_path(@game) %> |
<%= link_to 'Back', games_path %>
