<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%= stylesheet_link_tag    "application", :media => "all" %>
    <%= javascript_include_tag "application" %>
    <%= csrf_meta_tags %>

  <title>Tictactoe</title>

</head>
<body>

<!-- Nav bar -->
  <%= nav_bar :fixed => :top, :brand => "Tic Tac Toe", :responsive => true do %>
      <%= menu_group do %>
          <%= menu_item "Current game", current_game_path %>
          <%= menu_item "New game", new_game_path %>
          <%= menu_item "Active games", active_games_path %>
          <%= menu_item "Game history", games_history_path %>
          <%= menu_item "Leaderboard", leaderboard_path %>
      <% end %>
      <%= menu_group :pull => :right do %>
          <% if current_user %>
            <%= menu_item "Log Out", session_path(session), method: :delete, confirm: "Are you sure?" %>
          <% else %>
            <%= menu_item "Login", new_session_path %>
          <% end %>
      <% end %>
  <% end %>
<!-- End of Nav Bar -->

    <% flash.each do |name, msg| -%>
      <%= content_tag :div, msg, class: name %>
    <% end -%>
  
<div class="rose_fix">
  <%= yield %>
</div>

</body>
</html>
