<!DOCTYPE html>
<html>
<head>
  <title>Tictactoe</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

    <% flash.each do |name, msg| -%>
      <%= content_tag :div, msg, class: name %>
    <% end -%>
    
    <% if current_user  %>
      <li>
        <%= link_to "logout(#{current_user.email}) ", session_path(session) , method: :delete, confirm: "Sure DUDE ?"%>
      </li>
    <% else %>
      <li>
      <%= link_to "Login", new_session_path %>
      </li>
      <li>
      <%= link_to "Sign-up", new_user_path %>
      </li>
    <% end %>

<%= yield %>

</body>
</html>
