<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%= stylesheet_link_tag    "application", :media => "all" %>
    <%= javascript_include_tag "application" %>
    <%= csrf_meta_tags %>
    <meta name="viewport" content="width=device-width, user-scalable=no"> <!-- Helps with mobile -->

  <title>TictacSHOW</title>
  <link rel="shortcut icon" href="http://faviconist.com/icons/8f5ca88e531c3591b75b828a9208aeeb/favicon.ico" />

</head>
<body>

<!-- Nav bar -->
  <div class="navbar navbar-default">
  <div class="navbar-header">
    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-responsive-collapse">
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
    <a class="navbar-brand" href="#">Tic Tac SHOW</a>
  </div>
  <div class="navbar-collapse collapse navbar-responsive-collapse">
    <ul class="nav navbar-nav">
      <li><%= link_to "Current game", current_game_path %></li>
      <li><%= link_to "New game", new_game_path %></li>
      <li><%= link_to "Active games", active_games_path %></li>
      <li><%= link_to "Game history", games_history_path %></li>
      <li><%= link_to "Leaderboard", leaderboard_path %></li>
    </ul>
    <ul class="nav navbar-nav navbar-right">
      <% if current_user %>
        <li><%= link_to "Log Out", session_path(session), method: :delete, confirm: "Are you sure?" %></li>
      <% else %>
        <li><%= link_to "Login", new_session_path %></li>
      <% end %>
    </ul>
  </div>
</div>
<!-- End of nav bar -->


    <% flash.each do |name, msg| -%>
      <%= content_tag :div, msg, class: name %>
    <% end -%>
  
<div class="rose_fix">
  <%= yield %>
</div>

</body>
</html>
